extends ../../templates/default
block vars
	-
		title = "Главная страница"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.section.intro(data-anchor="main")
		.case
			.intro__wrap.row
				.intro__content
					.intro__title.h2 We develop live video
					.intro__subtitle.h3 Live video streaming interactive and VOD technologies as well as the associated media server infrastructure

					.intro__text.t1 Our media server infrastructure used to deliver reliable, scalable, adaptive, ultra-low latency video streaming solutions capable of performing a wide variety of live and on-demand video applications
					a.intro__btn.btn.--md.--gradient(href="#products") See products
				.intro__imgs
					.intro__phone.i-phone
						.i-phone__wrap
							img(src="uploads/intro-phone.png" alt="")
						.i-phone__shape
					.intro__desktop.i-desktop
						.i-desktop__wrap
							img(src="uploads/intro-desktop.png" alt="")
						.i-desktop__shape
					.intro__play
						img(src="uploads/play.svg")
			.intro__shapes.shapes
				img(src="uploads/decor-1.svg" alt="")
				img(src="uploads/decor-2.svg" alt="")


	.section.mission(data-anchor="mission")
		.case
			.mission__wrap.row
				.mission__img
					img(src="uploads/mission-img.png" alt="")
				.mission__content
					.mission__title.h2 Our Mission
					.mission__subtitle.h3 Our Mission is to create and deliver the best live communications products possible to enhance the human experience
					.mission__text.t1 Our entertainment, educational and communications platforms are highly interactive and are based on our own technology. This enhances the user experience
					a.mission__btn.btn.--md.--gradient(href="#connect") Let’s connect
			.mission__shapes.shapes
				img(src="uploads/decor-1.svg" alt="")
				img(src="uploads/decor-2-2.svg" alt="")

	.section.tech(data-anchor="tech")
		.case
			.tech__wrap
				.tech__desc Technologies
				.tech__title.h2  LiveFactor Media Server
				.tech__list.row
					.tech__item
						.tech__item-icon
							img(src="uploads/tech-1.svg" alt="")
						.tech__item-text.t1 #[strong LiveFactor Media Server] is scalable, adaptive, ultra-low latency video streaming software capable of performing a wide variety of applications including live and on-demand video delivery, transcoding, and mass storage of video data. We also provide video stream consumption management and the control of video flows.
					.tech__item
						.tech__item-icon
							img(src="uploads/tech-2.svg" alt="")
						.tech__item-text.t1 #[strong LiveFactor Media Server] supports encoding formats (H.264 / AAC, VP8) and streaming protocols (WebRTC, HLS, MPEG-DASH, RTMP) and can convert data streams to all supported formats on the fly while maintaining low latency. We have developed a real-time dynamic encoding solution that provides HQ-quality video and voice encoding with scalable control. 
					.tech__item
						.tech__item-icon
							img(src="uploads/tech-3.svg" alt="")
						.tech__item-text.t1 #[strong LiveFactor Media Server] provides streaming using WebRTC technology with less than 0.5 second latency, streaming WebRTC with ultra-low interaction gain and the convenience of real-time video streaming.
				.tech__text.t1
					p This technology is ideal for use in cases requiring a high degree of interactivity and playback quality. LiveFactor Media Server supports adaptive bitrate streaming to reach a wider audience. Adaptive bit rate technology allows you to play streams in real time on any device and at any Internet speed. Bitrate adaptive streaming provides the best video quality and viewing experience regardless of connection, device or software.  It is a method of dynamically adjusting the compression level and quality of the video stream according to the available bandwidth. We provide high quality products with outstanding performance and processing power, as well as satisfying the needs of users who lack the power of a device's CPU or internet speed. Instead of creating a single bitrate live stream, a transcoder is used to create multiple streams with different bitrates and resolutions.
					p #[strong LiveFactor Media Server] supports highly scalable WebRTC streaming across clusters and makes it easy to scale large numbers of broadcasters and viewers with an autoscaling cluster. The cluster supports millions of concurrent viewers. Built for iOS, Android, JavaScript and Flutter


	.section.products(data-anchor="products")
		.case
			.products__wrap.row
				.products__title Products
				.products__site Tokshow.com
				.products__imgs
					.products__img
						img(src="uploads/products-img.png" alt="")
					.products__play
						img(src="uploads/play.svg")
				.products__apps.apps
					.apps__list.row
						a.apps__item(href="" target="_blank")
							img(src="uploads/appstore.svg" alt="")
						a.apps__item(href="" target="_blank")
							img(src="uploads/google-play.svg" alt="")
				.products__inner
					.products__list
						.products__item TOKSHOW is a video space where interactive group conversations take place.
						.products__item Talk with experts, trend-setters, innovators and friends across the Globe in a video format.
						.products__item Here you can drop-in, listen, learn, share and ask questions.
						.products__item It's easy to jump in and jump out of the conversations that you choose.
						.products__item You can even be a co-host! There are no subscriptions and no limits to what you can experience. 
					a.products__btn.btn.--md.--gradient(href="http://tokshow.com" target="_blank") Go to the site
			.products__shapes.shapes
				img(src="uploads/decor-1.svg" alt="")
				img(src="uploads/decor-2.svg" alt="")


	.section.connect(data-anchor="connect")
		.case
			.connect__wrap
				.connect__rounds
				.connect__inner
					.connect__title.h2 Connect with us
					.connect__subtitle.h3 Have any idea for a partnership or collaboration? We’d love to hear about it! 

					.connect__text
						p E-mail: 
						p #[a(href="mailto:support@tokshow.com") Support@tokshow.com]

			.connect__shapes.shapes
				img(src="uploads/decor-1.svg" alt="")
				img(src="uploads/decor-2.svg" alt="")

		.connect__copy Copyright © 2021